<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">



    <div class="navbar-container container-fluid padding-left-0 padding-right-0">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="hidden-float" id="toggleMenubar">
                    <a data-toggle="menubar" ng-init="burgerMenu=true" ng-click="toggleBurgerMenu();burgerMenu =!burgerMenu" role="button">
                        <i class="icon hamburger hamburger-arrow-left" ng-hide="burgerMenu">
                             <span class="sr-only">Toggle menubar</span>
                             <span class="hamburger-bar"></span>
                         </i>
                        <img src="assets/images/left_arrow.png" alt="arrow" ng-show="burgerMenu">
                    </a>
                </li>
                <li class="hidden-xs" id="toggleFullscreen">
                    <a class="icon icon-fullscreen" ng-hide="fullScreenFlag" data-toggle="fullscreen" ng-click="toggleFullscreen()" role="button">
                    <a class="icon icon-fullscreen active" ng-show="fullScreenFlag" data-toggle="fullscreen" ng-click="toggleFullscreen()" role="button">
                        <span class="sr-only">Toggle fullscreen</span>
                    </a>
                </li>
                <!--        <li class="hidden-float">
                    <a class="icon wb-search" data-toggle="collapse" href="/layout/search" ui-sref="layout.search" role="button">
                        <span class="sr-only">Toggle Search</span>
                    </a>
                </li> -->
            </ul>
            <!-- End Navbar Toolbar -->

            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="dropdown">
                    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-animation="slide-bottom" role="button">
                        <span class="avatar avatar-online" style="margin-right: 10px;">
<!--                                    <img src="assets/images/user.png" width="50px" height="50px">
-->                                     <img ng-show="profilePicture" src="{{profilePicture}}" width="50px" ; height="50px">
                             <div ng-hide="profilePicture" class="circle-small">{{ userName.firstName | limitTo:1 }}{{ userName.lastName | limitTo:1 }}</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="javascript:void(0)" ng-click="navbarActions('profile')" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation">
                            <a href="javascript:void(0)" ng-click="navbarActions('logout')" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->

        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>